body {
    background-color: #2E3844;
}

.todoframe {
    position: absolute;
    display: flex;
    flex-direction: column;      
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    min-height: 600px;
    padding: 10px;
    border-radius: 10px;
    background-color: #202020;
}

.todoframe__title {
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    color: #757575;
}

.todoframe__subtitle {
    height: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    color: #757575;
}