.dropdownmenuContainer {
    display: flex;
    margin: -8px 0 0 0;
    padding: 0;
}

.dropdownmenu {
    position: absolute;

    display: none;
    min-width: 90px;
    height: 45px;
    margin: 0 0 3px 0;
    padding: 5px 5px 5px 50px;

    border: 3px solid #3B3B3B;
    border-radius: 5px;
    background-color: #202020;

    justify-content: space-between;
}

.dropdownmenu__button {
    width: 45px;
    height: 45px;
    margin: 0 0 0 5px;
    padding: 0;

    background-color: #3B3B3B;
    border-radius: 5px;
    border: none;

    transition: 1s, flex-basis 0.1s;
}

.dropdownmenu__button:hover {
    background-color: #323232;

    transition: 0s;
}

.dropdownmenu__button:active {
    background-color: #282828;
}

.dropdownmenu__button_main {
    z-index: 100;

    margin: 8px 0 0 8px;
}