.navbarContainer {
    display: flex; 
    height: 55px;
    margin: 0 0 5px 0;
    padding: 0;

    border-radius: 5px;
    border: 3px solid #3B3B3B;

    flex-direction: row;
    justify-content: space-between;
} 

.navbar__button {
    width: 110px;
    height: 45px;
    margin: 5px;
    padding: 0;

    background-color: #3B3B3B;
    border: none;
    border-radius: 5px;
    
    transition: 1s, flex-basis 0.1s;
}

.navbar__button:hover {
    background-color: #323232;
    
    transition: 0s;
}

.navbar__button:active {
    background-color: #282828;
}


