.listContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.list__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none; 
    padding: 0;
    border-radius: 5px;
    border: 1px solid #3B3B3B;
    margin-bottom: 5px;
    padding: 5px;
    height: 55px;
}

.list__checkbox {
    height: 55px;
    width: 55px;
    color: #3B3B3B;
}

.list__checkbox_done {
    width: 55px;
    height: 55px;
    accent-color: #3B3B3B;
}

.list__text {
    display: flex;
    align-items: center;
    width: 450px;
    height: 63px;
    padding-left: 15px;
    background-color: #202020;
    color: #DFDFDF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #DFDFDF;
    font-size: 25px;
    list-style: none;
}


.list__delete {
    background-color: #3B3B3B;
    border-radius: 5px;
    border: none;
    transition: 1s, flex-basis 0.1s;
    width: 55px;
    height: 55px;
}


.list__delete:hover {
    background-color: #323232;
    transition: 0s;
}

.input__delete:active {
    background-color: #282828;
}

.list__text_done {
    color: #3B3B3B;
    text-decoration: line-through;
}

