.listContainer {
    display: flex;

    margin: 0;
    padding: 0;

    flex-direction: column;
}

.list {
    margin: 0;
    padding: 0;
}

.list__itemcontainer {
    display: flex;
    min-height: 45px;
    margin: 0 0 5px 0;
    padding: 5px;

    border: 3px solid #3B3B3B;
    border-radius: 5px;

    justify-content: space-between;
    flex-direction: column;
}

.list__line {
    display: flex;
    height: 45px;
    margin: 0;
    padding: 0;

    justify-content: space-between;
    align-items: center;
}

.list__checkbox {
    height: 45px;
    width: 45px;
    margin: 0 0 0 3px;
    padding: 0;
}

.list__checkbox_done {
    height: 45px;
    width: 45px;
    margin: 0 0 0 3px;
    padding: 0;

    accent-color: #3B3B3B;
}

.list__text {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 15px;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #757575;
    font-size: 25px;

    background-color: #202020;

    list-style: none;
    align-items: center;
}

.list__text_done {
    color: #3B3B3B;
    text-decoration: line-through;
}

.list__editor {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 15px;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #DFDFDF;
    font-size: 25px;

    background-color: #202020;
    outline: none;
    border: none;

    list-style: none;
    align-items: center;
}

.list__dropdownmenucontainer {
    bottom: 5px; 

    height: 100%;
    margin: 0;
    padding: 0;
}

.list__sublistcontainer {
    margin: 0;
    padding: 0;
}

@keyframes unfade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

