.listContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.list {
    padding: 0;
    margin: 0;
}

.list__itemcontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 45px;
    margin: 0 0 5px 0;
    padding: 5px;
    border: 3px solid #3B3B3B; 
    border-radius: 5px;
}

.list__line {
    height: 45px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__checkbox {
    height: 45px;
    width: 45px;
    margin: 0 0 0 3px;
    padding: 0;
}

.list__checkbox_done {
    height: 45px;
    width: 45px;
    accent-color: #3B3B3B;
}

.list__text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 15px;
    margin: 0;
    background-color: #202020;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #757575;
    font-size: 25px;
    list-style: none;
}

.list__dropdownmenucontainer {
    height: 100%;
    padding: 0;
    margin: 0;
    bottom: 5px;
}

.list__sublistcontainer {
    padding: 0;
    margin: 0;
}