.input {
    display: flex;
    border: 1px solid orange;
    height: 65px;
    
}

.input__form { 
    flex: 90%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #3B3B3B;
    background-color: #202020;
    outline: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #DFDFDF;
    font-size: 25px;
    margin: 0;
    padding: 15px;
}


.input__button {
    background-color: #3B3B3B;
    flex: 10%;
    border-radius: 5px;
    border: none;
    transition: 1s, flex-basis 0.1s;
}

.input__button:hover {
    background-color: #323232;
    transition: 0s;
}

.input__button:active {
    background-color: #282828;
}